<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
        <div id="main" class="columens">
                    <div class="h1">
                        <h1><span class="hello">Hello </span>World</h1>
                    </div>
                    <div >
                        <a href="/login">
                            <button class="btn">Login</button>
                        </a>
                    </div>
                    <div >
                        <a href="/register">
                            <button class="btn1">Register</button>
                        </a>
                    </div>
        </div>
</body>
</html>